# Server configurations
PORT=4000
NODE_ENV=development

# Database Connection URL (Postgres)
DATABASE_URL=postgres://username:password@localhost:5432/database_name

# Redis Cache and Queue URL
REDIS_URL=redis://localhost:6379
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
GEMINI_MODEL=gemini-2.5-flash
